/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-neutral-900;
  }

  tbody tr:hover {
    @apply bg-slate-700
  }

  td {
    @apply px-4 py-2 text-sm;
  }
  p-paginator {
    @apply text-sm
  }

}

@layer components {
  .input {
    @apply rounded-sm text-sm border-transparent bg-slate-700 p-2 outline-none border focus:border-blue-500;
  }

  .btn {
    @apply text-sm py-2 px-4 rounded-sm text-white transition-colors disabled:bg-gray-300 disabled:cursor-not-allowed disabled:hover:bg-gray-300;
  }

  .title {
    @apply text-xl mb-4 text-center
  }

}

@layer utilities {
  .btn-green {
    @apply bg-green-600 hover:bg-green-700
  }
  .btn-yellow {
    @apply bg-amber-500 hover:bg-amber-600
  }
  .btn-blue {
    @apply bg-blue-600 hover:bg-blue-700
  }
  .btn-red {
    @apply bg-red-600 hover:bg-red-700
  }
}

.p-paginator-first, .p-paginator-last{
  display: none;
}

p-paginator .p-element {
  margin: 5px;
  padding: 5px;
}

.p-highlight {
  background-color: rgb(37 99 235);
  margin: 5px;
}
