<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="grid gap-2">

  <legend *ngIf="method == MethodEnum.EDIT" class="text-xl mb-3">
    Edit transaction
  </legend>

  <legend *ngIf="method == MethodEnum.CREATE" class="text-xl mb-3">
    New transaction
  </legend>

  <label class="grid gap-1">
    <span>Title</span>
    <input type="text" class="input" placeholder="Title..." required
           formControlName="title"/>
  </label>

  <div *ngIf="transactionForm.controls['title'].invalid &&
    (transactionForm.controls['title'].dirty || transactionForm.controls['title'].touched)"
       class="text-red-500 text-sm mt-2">
    <div *ngIf="transactionForm.controls['title'].hasError('required')">
      Title should be not empty
    </div>
  </div>

  <label class="grid gap-1">
    <span>Amount</span>
    <input type="number" class="input" placeholder="Amount..." required
           formControlName="amount" inputmode="numeric"/>
  </label>

  <div *ngIf="transactionForm.controls['amount'].invalid &&
    (transactionForm.controls['amount'].dirty || transactionForm.controls['amount'].touched)"
       class="text-red-500 text-sm mt-2">

    <div *ngIf="transactionForm.controls['amount'].hasError('required')">
      Amount should be not empty
    </div>

    <div *ngIf="transactionForm.controls['amount'].hasError('pattern') ||
                transactionForm.controls['amount'].hasError('min')">
      Price must be a positive number
    </div>

  </div>

  <label class="grid gap-1">
    <span>Category</span>
    <select required class="input" formControlName="category">
      <option *ngFor="let category of categoryService.categoriesSignal()"
              value="{{ category.id }}">
        {{ category.title }}
      </option>
    </select>
  </label>

  <div *ngIf="transactionForm.controls['category'].invalid &&
    (transactionForm.controls['category'].dirty || transactionForm.controls['category'].touched)"
       class="text-red-500 text-sm mt-2">
    <div *ngIf="transactionForm.controls['category'].hasError('required')">
      Category should be not empty
    </div>
  </div>

  <label class="grid gap-1">
    <span>Comment</span>
    <input type="text" class="input" placeholder="Comment..."
           formControlName="comment"/>
  </label>

  <div class="flex items-center gap-4">
    <label class="flex cursor-pointer items-center gap-2">
      <input class="form-radio text-blue-600" type="radio" value="income"
             formControlName="type" required>
      <span>Income</span>
    </label>

    <label class="flex cursor-pointer items-center gap-2">
      <input class="form-radio text-blue-600" type="radio" value="expense"
             formControlName="type" required>
      <span>Expense</span>
    </label>
  </div>

  <div *ngIf="transactionForm.controls['type'].invalid &&
    (transactionForm.controls['type'].dirty || transactionForm.controls['type'].touched)"
       class="text-red-500 text-sm mt-2">
    <div *ngIf="transactionForm.controls['type'].hasError('required')">
      Type should be not empty
    </div>
  </div>

  <button [disabled]="this.transactionForm.invalid"
          type="submit" class="btn mt-2 w-full flex justify-center"
          [ngClass]="{
      'btn-green' : method === MethodEnum.CREATE,
      'bg-amber-400' : method === MethodEnum.EDIT
      }">
    <span *ngIf="method === MethodEnum.CREATE">Create</span>
    <span *ngIf="method === MethodEnum.EDIT">Update</span>
  </button>

</form>
